<div class= "col-lg-10 mx-auto">
<%= link_to 'Back', 'javascript:history.back()' %>

  <h1><%= @article.title %></h1>
  <p><%= @article.body %></p>

  <div class="d-flex">
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-success me-1" %>
    <%= link_to "New Article", new_article_path, class: "btn btn-success me-1" %>
    <%= link_to 'Delete', @article, class: "btn btn-danger me-1", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <%= render partial:'comments/comment'%> 
  <h2>Add a comment:</h2>
  <%= render partial:'comments/form'%>

</div>
